.outset {
  width: 80%; 
  border-style: outset;
  border-width: 2px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px; 
  font-size: 40px;
}

.select-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Add some space between rows */
}

.select-column {
  flex: 1; 
  margin-right: 10px; 
}

.select-item {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 20px; 
  margin-bottom: 5px; 
}

select, input[type="text"], input[type="range"] {
  width: 100%; 
  font-size: 20px; 
  padding: 10px; 
  box-sizing: border-box; 
}

.car-type, .car-value, .lease-period, .down-payment {
  font-size: 40px;
}
